# Trying out jupyter

## Advanced Typing

In [1]:
print "Our float value is %s. Our int value is %s" %(3.0, 4)

Our float value is 3.0. Our int value is 4

## Writing a function

In [2]:
def func(x):
    y = x + 2
    return y

In [3]:
func(4)

6

In [4]:
square = lambda x: x*x

In [5]:
square(4)

16

## Trying out GraphCreate

In [6]:
import graphlab

#### Load a tabular dataset

In [7]:
sf = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create is assigned to sugavaneshb@gmail.com and will expire on May 15, 2017. For commercial licensing options, visit https://dato.com/buy/.

2016-05-15 20:04:12,019 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1463322850.log

Finished parsing file /Users/sugavanb/projects/coursera-ml-mooc/1_ml_foundations/course_material/people-example.csv

Parsing completed. Parsed 7 lines in 0.038419 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/sugavanb/projects/coursera-ml-mooc/1_ml_foundations/course_material/people-example.csv

Parsing completed. Parsed 7 lines in 0.013652 secs.

In [8]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
sf ## Helps me in viewing first few lines of the table in the csv file

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.head() ## let me test this

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [11]:
sf.tail() ## now goes the tail

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [12]:
sf.show() ## basic visualisation of the data

Canvas is accessible via web browser at the URL: http://localhost:51405/index.html
Opening Canvas in default web browser.

In [13]:
graphlab.canvas.set_target('ipynb')
# this will allow the visualization to appear in this notebook

In [14]:
sf.show()

In [15]:
sf['age'].show(view='Categorical')

In [16]:
sf['age'].show()

#### Inspecting columns in the data set:

In [17]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [18]:
sf.columns()

AttributeError: 'SFrame' object has no attribute 'columns'

In [19]:
type(sf)

graphlab.data_structures.sframe.SFrame

In [21]:
sf.column_names() # This command helps you to list the column names

['First Name', 'Last Name', 'Country', 'age']

In [22]:
sf['Full name'] = sf['Last Name'] + ', ' + sf['First Name']

In [23]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+-----------------+
| First Name | Last Name |    Country    | age |    Full name    |
+------------+-----------+---------------+-----+-----------------+
|    Bob     |   Smith   | United States |  24 |    Smith, Bob   |
|   Alice    |  Williams |     Canada    |  23 | Williams, Alice |
|  Malcolm   |    Jone   |    England    |  22 |  Jone, Malcolm  |
|   Felix    |   Brown   |      USA      |  23 |   Brown, Felix  |
|    Alex    |   Cooper  |     Poland    |  23 |   Cooper, Alex  |
|    Tod     |  Campbell | United States |  22 |  Campbell, Tod  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Ward, Derek   |
+------------+-----------+---------------+-----+-----------------+
[7 rows x 5 columns]

In [24]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [31]:
sf['Country'] = ['United States' if (x == 'USA') else x for x in sf['Country']]
# why use complex functions when you can achieve what you want using simple iterators

In [32]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [33]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+-----------------+
| First Name | Last Name |    Country    | age |    Full name    |
+------------+-----------+---------------+-----+-----------------+
|    Bob     |   Smith   | United States |  24 |    Smith, Bob   |
|   Alice    |  Williams |     Canada    |  23 | Williams, Alice |
|  Malcolm   |    Jone   |    England    |  22 |  Jone, Malcolm  |
|   Felix    |   Brown   | United States |  23 |   Brown, Felix  |
|    Alex    |   Cooper  |     Poland    |  23 |   Cooper, Alex  |
|    Tod     |  Campbell | United States |  22 |  Campbell, Tod  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Ward, Derek   |
+------------+-----------+---------------+-----+-----------------+
[7 rows x 5 columns]

In [34]:
def transform_country(full_form):
    if full_form == 'United States':
        return 'US'
    return full_form

In [35]:
transform_country('Brazil')

'Brazil'

In [36]:
transform_country("United States")

'US'

In [37]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['US', 'Canada', 'England', 'US', 'Poland', 'US', 'Switzerland']

In [39]:
sf['Country'] = sf['Country'].apply(transform_country)

In [40]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full name	str

Rows: 7

Data:
+------------+-----------+-------------+-----+-----------------+
| First Name | Last Name |   Country   | age |    Full name    |
+------------+-----------+-------------+-----+-----------------+
|    Bob     |   Smith   |      US     |  24 |    Smith, Bob   |
|   Alice    |  Williams |    Canada   |  23 | Williams, Alice |
|  Malcolm   |    Jone   |   England   |  22 |  Jone, Malcolm  |
|   Felix    |   Brown   |      US     |  23 |   Brown, Felix  |
|    Alex    |   Cooper  |    Poland   |  23 |   Cooper, Alex  |
|    Tod     |  Campbell |      US     |  22 |  Campbell, Tod  |
|   Derek    |    Ward   | Switzerland |  25 |   Ward, Derek   |
+------------+-----------+-------------+-----+-----------------+
[7 rows x 5 columns]